<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/incloja" slot="end" size="small" color="medium">
      <ion-icon name="arrow-back-outline"></ion-icon>
      VOLTAR
    </ion-button>
    <ion-title>Checar Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pedidos">
    <h3>PEDIDOS DE HOJE</h3>
    <P>ITEM: Camiseta</P>
    <p>CLIENTE: Adail Nogueira</p>
    <p>ENTREGA: Receber em casa</p>
    <p>ENDEREÇO: São Martinho, Rua São Paulo, 345.</p>
    <p>QUANTIDADE: 1</p>
    <p>TOTAL A PAGAR: R$ XX.XX</p>
    <p>MODELO A SER PRODUZIDO</p>
    <img id="image" src="assets/img/camiseta-unifil.jpeg">
  </div>
</ion-content>