<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/incloja" slot="end" size="small" color="medium">
      <ion-icon name="arrow-back-outline"></ion-icon>
      VOLTAR
    </ion-button>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR6xIFIdUPvEDZR6-kStkCmjsdqYvUJTfyu8uK4iRzeqjRgv831&usqp=CAU">
      </ion-thumbnail>
        <ion-title>Chinelo (MODELO)</ion-title>
    </ion-item>
    <ion-item>
      <ion-label>Disponivel</ion-label>
      <ion-toggle slot="start"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-thumbnail>
        <img src="https://thumbs.dreamstime.com/b/copo-da-placa-do-molde-da-caneca-de-caf%C3%A9-41067041.jpg">
      </ion-thumbnail>
        <ion-title>Caneca</ion-title>
    </ion-item>
    <ion-item>
      <ion-label>Disponivel</ion-label>
      <ion-toggle slot="start"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-thumbnail>
        <img src="https://img.elo7.com.br/product/original/2751AE3/pacote-de-moldes-10-em-1-moldes-de-camisas.jpg">
      </ion-thumbnail>
        <ion-title>Camiseta (Tamanho)</ion-title>
    </ion-item>
    <ion-item>
      <ion-label>Disponivel</ion-label>
      <ion-toggle slot="start"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>