<ion-header>
  <ion-toolbar>
    <ion-title>COMPRADO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="msg">
    <p><br></p>
    <ion-icon name="checkmark-circle-outline" class="myIcon"></ion-icon>
    <h1>COMPRA REALIZADA COM SUCESSO!</h1>
    <p>Obrigado por comprar conosco!</p>
    <p>Para acompanhar os detalhes de seu produto, vá a aba 'Pedidos' no menu lateral.</p>
    <p><br></p>
    <ion-button routerLink="/modelo" expand="block">OK</ion-button>
  </div>
</ion-content>