.modelo{
    margin: 30% 20% 5% 25%;
    height: 30%;
    width: 50%;
    background-color: gray;
    border-radius: 20px;
    color: white;
}
.h1Fonte{
    font-size: 12pt;
    margin: 10px 10px 10px 10px;
    text-align: center;
}