.login{
    margin: 5% 10% 5% 10%;
}
button{
    background-color: gray;
    color: white;
    width: 30%;
    height: 40px;
    border-radius: 10px;
    margin-left: 60%;
}
.botao{
    margin-top: 30%;
}
.link{
    display: inline;
}
a{
    margin-left: 10%;
    font-size: 11pt;
}