<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/modelo" slot="end" size="small" color="medium">
      <ion-icon name="arrow-back-outline"></ion-icon>
      VOLTAR
    </ion-button>
    <ion-title>MEUS PEDIDOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pedidos">
    <P>ITEM: Camiseta</P>
    <p>LOJA: Kaneshi Customizados</p>
    <p>ENTREGA: Receber em casa</p>
    <p>OBJETO SAIU PARA ENTREGA: 19/05/2020</p>
    <p>PREVISÃO DE ENTREGA: 28/05/2020</p>
    <p>QUANTIDADE: 1</p>
    <p>TOTAL A PAGAR: R$ XX.XX</p>
    <p>MODELO A SER PRODUZIDO</p>
    <img id="image" src="assets/img/camiseta-unifil.jpeg">
  </div>
</ion-content>