<ion-header>
  <ion-toolbar>
    <ion-title>Esqueci senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <p>Para confirmar sua identidade digite seu CPF/CNPJ</p>
    <ion-label position="floating">CPF/CNPJ</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nova senha</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button expand="block" routerLink="/login" color="light">OK</ion-button>
  <ion-button routerLink="/login" expand="block" color="light">VOLTAR</ion-button>
</ion-content>
