
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.logo{
  font-size: 200%;
  font-weight: bold;
  font-family: serif;
  margin: 60% 0 50% 0;
}
#button{
  --opacity: 50%;
  --background-activated: rgb(66, 66, 66);
  --background-hover: none;
  --box-shadow: none;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

