<ion-header>
  <ion-toolbar>
    <ion-button routerLink="/incloja" slot="end" size="small" color="medium">
      <ion-icon name="arrow-back-outline"></ion-icon>
      VOLTAR
    </ion-button>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="person-circle-outline" style="font-size: 80pt;"></ion-icon>
    <ion-button>
      Alterar foto
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nome da Loja</ion-label>
    <ion-input required type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">E-mail</ion-label>
    <ion-input required type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input required type="text"></ion-input>
  </ion-item>
  <ion-item routerLink="/login">
    <ion-label>Sair</ion-label>
  </ion-item>

</ion-content>